@media only screen and (max-width: 249px) {
  #index {
    background-color: red;
  }
}


ul {
  color: pink;
  font-size: 1em;
  font-family: sans-serif;

}

.navigation-bar {
    background-color: orange;
    color: white;
    padding: 10px;
}

.nav-item {
  text-align: center;

}

#index {
  background-color: purple;
}

.PCH-image {
  border: black solid;
  width: 500px;
  height: 500px;
  display: block;

}

